[agent]
name = "{{ sparql_results | first | get(key="agentName") }}"
description = "{{ sparql_results | first | get(key="description") }}"

[server]
http_port = 3000

[server.storage]
type = "inmemory"

[server.auth]
type = "bearer"
tokens = ["${AGENT_TOKEN}"]
{%- for row in sparql_results %}

[[skills]]
id = "{{ row["skillId"] }}"
name = "{{ row["skillName"] }}"
description = "{{ row["skillDesc"] }}"
{%- endfor %}

[features]
streaming = true
push_notifications = false
