[submodule "vendors/gvisor"]
	path = vendors/gvisor
	url = https://github.com/seanchatmangpt/gvisor.git
[submodule "external/unrdf"]
	path = external/unrdf
	url = https://github.com/seanchatmangpt/unrdf.git
[submodule "ggen-spec-kit"]
	path = ggen-spec-kit
	url = https://github.com/seanchatmangpt/ggen-spec-kit.git
[submodule "clap-noun-verb"]
	path = clap-noun-verb
	url = https://github.com/seanchatmangpt/clap-noun-verb.git
[submodule "vendors/rust4pm"]
	path = vendors/rust4pm
	url = https://github.com/aarkue/rust4pm.git
