[submodule "vendors/gvisor"]
	path = vendors/gvisor
	url = https://github.com/seanchatmangpt/gvisor.git
[submodule "external/unrdf"]
	path = external/unrdf
	url = https://github.com/seanchatmangpt/unrdf.git
