{erl_opts, [
    debug_info,
    {i, "include"}
]}.

{deps, [
    {gen_pnet, {git, "https://github.com/joergen7/gen_pnet.git", {branch, "master"}}},
    {jsx, "3.1.0"}
]}.

{shell, [
    {apps, [gen_yawl]}
]}.

{profiles, [
    {test, [
        {deps, [
            {proper, "1.4.0"},
            {meck, "0.9.2"}
        ]},
        {erl_opts, [
            {d, 'TEST'}
        ]}
    ]},
    {prod, [
        {erl_opts, [
            no_debug_info,
            {d, 'PRODUCTION'}
        ]}
    ]}
]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        race_conditions,
        underspecs
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
