<template>
  <div class="app">
    <NuxtWelcome />
  </div>
</template>

<script setup lang="ts">
// Welcome to {{ project_name }}
</script>

<style scoped>
.app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
