---
typescript: true
compatibility_date: "2024-12-01"
---
// https://nuxt.com/docs/api/configuration/nuxt-config
export default defineNuxtConfig({
  compatibilityDate: '2024-12-01',

  devtools: {
    enabled: true
  },

  typescript: {
    strict: true,
    typeCheck: true
  },

  modules: [],

  app: {
    head: {
      title: '{{ project_name }}',
      meta: [
        { charset: 'utf-8' },
        { name: 'viewport', content: 'width=device-width, initial-scale=1' },
        { name: 'description', content: '{{ description }}' }
      ]
    }
  }
})
