---
to: "app/emails/{{ name }}.txt"
sparql:
  campaign: "PREFIX ex: <http://example.org/hygen-examples/mailer#> SELECT ?name ?message ?version WHERE { ?c a ex:Campaign ; ex:name ?name ; ex:message ?message ; ex:version ?version . } LIMIT 1"
for_each: campaign
---
Hello {{ name }}
{{ message }}
(version {{ version }})
