---
to: "{{ project_name }}/src/main.rs"
vars:
  project_name: "my-cli"
  cli_description: "A noun-verb CLI application"
---
//! {{ cli_description }}

use clap_noun_verb::Result;

mod cmds;

fn main() -> Result<()> {
    clap_noun_verb::run()
}
