---
to: "{{ name }}.txt"
vars:
  name: "test"
---

Hello {{ author }}!
This is a test template for {{ name }}.
License: {{ license }}
Year: {{ year }}

RDF Test: {{ sparql(query="SELECT ?s WHERE { ?s a ex:Type }", var="s") }}
